{% load thumbnail %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/main.css">
    <title>NASA</title>
</head>
<body>
    <header class="header">
        <div class="header_content_container">
            <div>
                <img src="static/images/burder_menu.svg" alt="" class="burder_menu" draggable="false">
                <img src="static/images/nasa.svg" alt="" class="nasa_logo" draggable="false">
            </div>
            <nav>
                <a href="#" class="header_text">ПРЕИМУЩЕСТВА</a>
                <a href="#photos" class="header_text">ФОТОГРАФИИ</a>
            </nav>
            <button class="btn btn-danger red">ВХОД</button>
        </div>
    </header>
    <main class="main">
        <div class="main_content_container">
            <div class="main_content_container_header">
                <h1 class="h1">Космическое агенство</h1>
                <span class="sub_h1">Национальное управление по аэронавтике и исследованию космического пространства — ведомство, относящееся к федеральному правительству США и подчиняющееся непосредственно президенту США.</span>
            </div>
            <div class="icons_and_stars">
                <div class="icons_container">
                    <div class="one_icon_container">
                        <img src="static/images/rocket.svg" alt="" class="icon" draggable="false">
                        <span class="under_picture">Спейс шаттлы — пилотируемые корабли</span>
                    </div>
                    <div class="one_icon_container">
                        <img src="static/images/telescope.svg" alt="" class="icon" draggable="false">
                        <span class="under_picture">Лучшее телескопическое оборудование</span>
                    </div>
                    <div class="one_icon_container">
                        <img src="static/images/moon.svg" alt="" class="icon" draggable="false">
                        <span class="under_picture">Целимся на Луну и на Марс</span>
                    </div>
                    <div class="one_icon_container">
                        <img src="static/images/medal.svg" alt="" class="icon" draggable="false">
                        <span class="under_picture">Золотая медаль по научным исследованиям</span>
                    </div>
                </div>
                <img src="static/images/stars.png" class="stars" draggable="false">
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_content_container" id="photos">
            <h2 class="h2">Фотографии</h2>
            <div class="block-images">
                <div class="main_image_container">
                    {% if images %}
                        {% for image in images %}
                            <img 
                                src="{{image.file.url}}"
                                href="#modal_window"
                                alt=""
                                class="main_image"
                                draggable="false"
                                id="main-{{forloop.counter}}"
                            >
                        {% endfor %}
                    {% else %}
                        <img 
                            src="static/images/example_main_image.png"
                            href="#modal_window"
                            alt=""
                            class="main_image"
                            draggable="false"
                            id="main-1"
                        >
                    {% endif %}
                    
                </div>
                <div class="preview_container_outer">
                    <img src="static/images/arrow_left.svg" alt="" class="arrow arrow_left" draggable="false">
                    <div class="slider slider-nav preview_container">
                        {% if images %}
                            {% for image in images %}
                                <img src="{{image.file.url}}" alt="" class="preview_image" draggable="false" id="preview-{{forloop.counter}}">
                            {% endfor %}
                        {% else %}
                            <img
                                src="static/images/preview3.png"
                                alt=""
                                class="preview_image"
                                draggable="false"
                                id="preview-1"
                            >
                        {% endif %}
                        
                    </div>
                    <img src="static/images/arrow_right.svg" alt="" class="arrow arrow_right" draggable="false">
                </div>
            </div>
        </div>
    </footer>
    <div class="wrapper_modal_window">
        <div class="modal_window" id="modal_window">
            <div class="masonry">
                {% for image in images %}
                    <img src="{{image.file.url}}" alt="" width="300px" draggable="false" class="masonry_item">
                {% endfor %}
            </div>
            <button class="close_modal_window_btn btn btn-danger red">Закрыть</button>
        </div>
    </div>
    <script src="static/js/slider.js"></script>
</body>
</html>