*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0.1em;
}

body{
    color: #0A121E;
    background-color: #FAFAFA;
}

.red{
    background-color: #FF342B;
    border-radius: 4px;
    padding: 12px 18px;
    font-weight: 700;
}

.nasa_logo{
    width: 120px;
    height: auto;
    cursor: pointer;
}

.header{
    background-color: #0A121E;
    height: 90px;
    color: white !important;
    vertical-align: baseline;
    position: relative;
}

.header_content_container{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    line-height: 90px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header_text{
    font-weight: 600;
    margin: 0 22.5px;
    color: white;
    text-decoration: none;
}

.h1{
    font-size: 56px;
    line-height: 68.26px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 30px;
}

.h2{
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 30px;
}

.sub_h1{
    font-size: 18px;
    line-height: 30px !important;
    height: 90px;
    letter-spacing: 0.01em;
}

main{
    padding-top: 90px;
    padding-bottom: 90px;
    
}

.main{
    display: block;
    width: 1140px;
    margin-left: auto; margin-right: auto;
}

.main_content_container_header{
    width: 751px; text-align: center;
    margin-left: auto; margin-right: auto;
    margin-bottom: 90px;
}

.under_picture{
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.01em;
    display: block;
    width: 203px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.icons_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 80px;
    margin-top: 37px;
    max-width: 556px;
}

.one_icon_contaner{
    display: block;
    padding: 30px 30px 30px 30px;
    margin: 1px 1px;
}

.icon{
    width: 64px;
    height: 64px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icons_and_stars{
    display: flex;
    justify-content: space-between;
}

footer{
    padding-top: 90px;
    background-color: #3C3C3C;
    color: white;
    
}

footer .h2{
    padding-bottom: 60px;
    margin-bottom: 0px;
}

.footer_content_container{
    width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

.main_image{
    width: 750px;
    height: 420px;
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 40px;
    object-fit:cover;
}

.preview_container{
    display: flex;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    overflow: scroll;
}

.preview_container::-webkit-scrollbar {
    width: 0; 
}

.preview_container_outer{
    display: flex;
}

.preview_image{
    width: 165px;
    height: 165px;
    border-radius: 40px;
    cursor: pointer;
}
.stars{
    max-width: 457px;
    max-height: 457px;
}

.burder_menu{
    display: none;
}

.arrow{
    cursor: pointer;
}

.preview_container{
    overflow: scroll;
}

.main_image{
    display: none;
    cursor: pointer;
}


.modal_window{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto !important;
}

.wrapper_modal_window{
    position: relative; top: 0; left: 0; width: 100%; height: 100%;
}

.modal_window{
    padding: 1em;
}
.masonry {
    column-count: 4;
    column-gap: 1em;
    -webkit-column-count: 4; -moz-column-count: 4; column-count: 4;
    -webkit-column-gap: 1em; -moz-column-gap: 1em; column-gap: 1em;
}
.masonry_item {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    background-color: #eee;
}

/* .main_image_container, .block-images{
    cursor: pointer !important;
} */

@media (max-width: 1140px) {
    .header{
        height: 70px;
    }
    .nasa_logo{
        width: 80px;
    }
    .header_content_container{
        line-height: 70px;
    }
    .header_content_container{
        padding: 0px 20px;
    }
    .main{
        padding: 45px 20px 20px 20px;
    }
    .main{
        width: auto;
    }
    .header_content_container{
        width: auto;
    }
    .footer_content_container{
        width: auto;
    }
    .main_content_container_header{
        width: auto;
    }
    .main_image{
        width: 90vw;
        height: auto;
    }
    .icons_and_stars{
        flex-direction: column;
        align-items: center;
        gap: 127px;
    }
    .preview_container{
        overflow: scroll;
        margin: 0px;
    }
    .arrow{
        display: none;
    }
}

@media (max-width: 500px) {
    .burder_menu{
        display: inline;
        margin-right: 30px;
    }
    .icons_container{
        gap: 15px;
    }
    .header nav{
        display: none;
    }
    .h1{
        font-size: 36px;
        line-height: 43.88px;
    }
    .sub_h1{
        font-size: 16px;
    }
    .h2{
        font-size: 30px;
    }
    .under_picture{
        text-wrap: wrap;
        width: auto;
    }
    .one_icon_contaner{
        width: auto;
        padding: 10px 10px 10px 10px;
    }
    .icons_and_stars{
        gap: 45px;
    }
    .stars{
        width: 90vw;
    }
    footer{
        padding-top: 60px;
    }
    footer .h2{
        padding-bottom: 42px;
        margin-bottom: 0px;
    }
    .preview_image{
        width: 80px;
        height: 80px;
        border-radius: 20px;
    }
    .preview_container{
        gap: 10px;
    }

    .main_image{
        width: 90vw;
        height: 90vw;
    }
}